* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Schibsted Grotesk", sans-serif;
}

.heading {
  text-align: center;
  color: darkblue;
  font-size: 4vw;
}
.container {
  width: 100%;
  min-height: 100vh;
  background-image: url(paper.png);
}
