* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Schibsted Grotesk", sans-serif;
}
.heading {
  text-align: center;
  color: rgb(248, 255, 180);
  font-size: 50px;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 12px;
}

.main {
  background-color: rgb(120, 116, 133);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
}

.container {
  background-color: rgb(158, 198, 227);
  border-radius: 5px;
  width: 600px;
  height: 800px;
  margin-top: 50px;
}

.input-group {
  display: flex;
  margin-bottom: 15px;
  margin-left: 1px;
}

.button {
  outline: none;
  cursor: pointer;
  background-color: rgb(158, 198, 227);
  border: none;
  padding: 10px;
  margin-left: 30px;
}

.input {
  width: 800px;
  border-radius: 20px;
  border-style: double;
  border-color: rgb(171, 192, 206);
  margin-left: 25px;
  font-size: 22px;
}

.todo-item-container {
  margin-left: 25px;
  margin-bottom: 10px;
  font-size: 18px;
}

#add-button {
  margin-right: 30px;
}
