* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Schibsted Grotesk", sans-serif;
}

body {
  background-image: url(back.jpg);
  height: 90vh;
  display: flex;
  justify-content: center;
  padding: 32px;
  font-size: 18px;
  font-weight: 300;
}

.todo {
  padding: 32px;
  background-color: aliceblue;
  width: 30vw;
  border-radius: 20px;
}

.to-do-content {
}

.to-do-title {
}

.to-do-new {
  display: flex;
  margin: 16px 0 32px;
}

.to-do-new input {
  margin-right: 16px;
  font-size: 18px;
  padding: 8px 16px;
  height: var(--size);
  border: 1px solid rgb(170, 163, 163);
  border-radius: 5px;
  flex-grow: 1;
}
.to-do-add {
  text-align: center;
  line-height: 50px;
  font-size: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: rgb(53, 116, 95);
  color: aliceblue;
  cursor: pointer;
}

.to-do-list {
}

.to-do-task {
  display: flex;
  align-items: center;
  height: 36px;
  --size: 36px;
}

.to-do-task:hover .to-do-task-del {
  display: block;
}
.to-do-checkbox {
  margin-right: 16px;
}

.to-do-checkbox input {
  display: none;
}

.to-do-checkbox div {
  --size: 28px;
  height: var(--size);
  width: var(--size);
  border: 1px solid black;
}
.to-do-task-text {
  font-size: 20px;
}

.to-do-task-del {
  display: none;
  margin-left: auto;
  margin-right: 0;
  text-align: center;
  line-height: 36px;
  width: 36px;
  height: 36px;
  border-radius: 50px;
  line-height: calc(var(--size) * 0.88);
  background-color: rgb(53, 116, 95);
  color: aliceblue;
  cursor: pointer;
  font-size: 44px;
}
